{% extends 'music/base.html' %}

{% block title%}Album Detail{% endblock %}

{% block body%}
<img src="{{ album.album_logo.url }}" height="20%" width="15%">

<h1>{{ albu.album_title}}</h1>
<h1>{{ album.artist }}</h1>

{% if error_message %}
    <p><strong> {{ error_message }}  </strong></p>
{% endif %}

 {%  for song in album.song_set.all %}
     {{ song.song_title }}
     {% if song.is_favorite %}
         <img src="http://i.imgur.com/b9b13Rd.png"/>
     {% endif %}
     <br>
{% endfor %}




{#<form action="{% url 'music:favorite'  album.id%}" method="post">#}
{#    {% csrf_token %}#}
{#    {%  for song in album.song_set.all %}#}
{#        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>#}
{#        <label for="song{{ forloop.counter }}">#}
{#            {{ song.song_title }}#}
{#        {% if song.is_favorite %}#}
{#            <img src="http://i.imgur.com/b9b13Rd.png"/>#}
{#        {% endif %}#}
{#        </label><br>#}
{#    {% endfor %}#}
{#    <input type="submit" value="Favorite">#}
{##}
{#</form>#}

{#<ul>#}
{#    {%  for song in album.song_set.all%}#}
{#        <li>{{ song.song_title }} - {{ song.file_type }}</li>#}
{#    {% endfor%}#}
{##}
{#</ul>#}
{% endblock %}